<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div *ngFor="let movie of movies" class="swiper-slide"
            [ngStyle]="{
                'background-size': 'cover',
                'background-image': 'url(https://image.tmdb.org/t/p/original'+ movie.backdrop_path +')'
            }">
          <div class="movie-description">
            <h3 class="movie-title">{{movie.title}}</h3>
            <p class="movie-overview">{{movie.overview | slice:0:230}}...</p>
            <p class="movie-overview-m">{{movie.overview | slice:0:100}}...</p>
          </div>
      </div>

    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div (click) = "onSlidePrev()" class="swiper-button-prev"></div>
    <div (click) = "onSlideNext()" class="swiper-button-next"></div>
</div>
  